<h1>Editing scripture</h1>

<%= render "form", scripture: @scripture %>

<br>

<div>
  <%= link_to "Show this scripture", @scripture %> |
  <%= link_to "Back to scriptures", scriptures_path %>
</div>
